In [ ]:
# Assignment:2

In [ ]:
#Q:1 write a program to accept percentage from the user and display the grade according to the following criteria:

In [ ]:
marks = int(input("please enter the marks : "))
if marks > 90:
        print("Grade A ")
elif marks >80 and marks <=90:
        print("Grade B ")
elif marks >= 60 and marks <=80:
        print("Grade C ")
else:
        print(" grade D ")

please enter the marks : 93
Grade A

In [ ]:
#Q:2 write a program to accept the cost price of a bike and display the raod tax to be paid according to the  following criteria:

In [ ]:
tax = int(input("please enter the cost of the bike price: "))
if tax > 100000:
    print("Road tax  will be paid: ", tax*15/100)
elif tax >=50000 or tax <=100000:
    print("Road tax  will be paid: ",tax*10/100)
elif tax <= 50000:
    print("Road tax  will be paid: ",tax*5/100)
else:
  print('No tax paid')

please enter the cost of the bike price: -1
Road tax  will be paid:  -0.1

In [ ]:
#Q:3Accept any city from the user and display monuments of that city.

In [ ]:
city = input("please enter the city name : ")
if city == "delhi":
    print("read fort")
elif city == "agra":
    print("taj mahal")
elif city == "jaipur":
    print("jai mahal")
else:
    print("please enter the valid city name:")

please enter the city name : mubai
please enter the valid city name:

In [ ]:
#Q:4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [ ]:
def divisible_by_3(num):
    count = 0
    while num > 10:
        num = num / 3
        count += 1
    return count

num = int(input("Enter a number: "))
result = divisible_by_3(num)
print(f"The number can be divided by 3 {result} times before it is less than or equal to 10.")

Enter a number: 78
The number can be divided by 3 2 times before it is less than or equal to 10.

In [ ]:
# Q:5 Why and When to Use while Loop in Python give a detailed description with example

In [ ]:
## A while loop in Python is used to repeat a block of code as long as the specified condition is true.
## while condition:
# code to be executed
#Here, condition is an expression that evaluates to either True or False. The code within the loop will be executed as long as condition is True. Once condition becomes False, the loop stops and the program continues with the code after the loop.
#For example, consider the following code that uses a while loop to print the numbers from 1 to 10:

i = 1
while i <=10:
  print(i)
  i = i + 1
#10. this  while loop  will  run until the value of i is grater then 10 On each iteration of the loop, the value of i is printed, and then it is incremented by 1 using the += operator. The output of this code will be:

1
2
3
4
5
6
7
8
9

In [ ]:
#Q:6 Use nested while loop to print 3 different pattern.

In [10]:
# Pattern 1
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print("")
    i += 1

# Pattern 2
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print("")
    i -= 1

# Pattern 3
i = 1
while i <= 5:
    j = 5
    while j >= i:
        print(" ", end="")
        j -= 1
    k = 1
    while k <= i:
        print("*", end="")
        k += 1
    print("")
    i += 1

*
**
***
****
*****
*****
****
***
**
*
     *
    **
   ***
  ****
 *****

In [ ]:
#Q:7 Reverse a while loop to display numbers from 10 to 1.

In [ ]:
x = 10
while x > 0:
  print(x)
  x = x -1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Q:8 Reverse a while loop to display numbers from 10 to 1.

In [ ]:
d = 10
while d > 0:
  print(d)
  d = d -1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 1