Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42])

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data: 

Name 
Alice 
Bob 
Claire 
Then, print the DataFrame. 
Age 25 
30 
27 
Gender Female Male 
Female



Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


ANS In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or a SQL table. It is a collection of Pandas Series, where each column in the DataFrame is a Series object.

A Pandas Series, on the other hand, is a 1-dimensional labeled array that can hold any data type (integers, floats, strings, etc.) and has an associated index that labels each element in the Series.

Here's an example to illustrate the difference between a DataFrame and a Series in Pandas

In [4]:
import pandas as pd

series = pd.Series([1, 2, 3, 4, 5])

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

print("Series:")
print(series)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

As you can see, the Series only has one column of data, whereas the DataFrame has multiple columns. Additionally, the Series has only one index, whereas the DataFrame has two (one for the rows and one for the columns).

In summary, a Series is a 1-dimensional labeled array, while a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions? 

Ans Pandas is a powerful library for data manipulation and analysis in Python. Here are some common functions you can use to manipulate data in a Pandas DataFrame:

head() - returns the first n rows of the DataFrame (default value of n is 5)
tail() - returns the last n rows of the DataFrame (default value of n is 5)
describe() - returns a summary of the statistics for each column in the DataFrame
shape() - returns the dimensions (number of rows and columns) of the DataFrame
drop() - removes specified rows or columns from the DataFrame
groupby() - groups the DataFrame by one or more columns, allowing for aggregation and analysis of subsets of the data
sort_values() - sorts the DataFrame by one or more columns in ascending or descending order
apply() - applies a function to each element, row, or column of the DataFrame
merge() - merges two or more DataFrames into one based on a specified key column
Here's an example of when you might use one of these functions. Let's say you have a DataFrame that contains information about customers and their orders. You want to find out the total amount spent by each customer. You could use the groupby() function to group the DataFrame by customer name and then use the sum() function to calculate the total amount spent for each customer. Here's the code:

In [1]:
import pandas as pd

df = pd.DataFrame({'Customer': ['John', 'Mary', 'John', 'Bob', 'Mary'],
                   'Order': ['Shoes', 'Shirt', 'Pants', 'Shirt', 'Shoes'],
                   'Amount': [50, 25, 40, 30, 60]})

totals = df.groupby('Customer')['Amount'].sum()

print(totals)

Customer
Bob     30
John    90
Mary    85
Name: Amount, dtype: int64

This code groups the DataFrame by the Customer column and calculates the sum of the Amount column for each group. The result is a new DataFrame with the total amount spent by each customer.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS In Pandas, both Series and DataFrame are mutable in nature, which means that you can modify their values, add or remove elements, and perform other operations that change the underlying data.

On the other hand, Panel is a 3-dimensional data structure in Pandas that is less commonly used than Series or DataFrame. It is mutable as well, but is less flexible than DataFrame and is often used for specialized purposes.

So, to summarize, both Series and DataFrame are mutable in nature in Pandas, while Panel is also mutable but is a less commonly used data structure.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
import pandas as pd

name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])


data = {'Name': name, 'Age': age, 'Gender': gender}
df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female