Q1. List any five functions of the pandas library with execution.

In [1]:
import seaborn as sns
import pandas as pd

In [6]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [10]:
df.shape

(244, 7)

In [11]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [12]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.Index(range(1, len(df) * 2, 2))
    df = df.reset_index(drop=True)
    df.index = new_index
    return df

In [14]:
df = pd.DataFrame({'A': [10, 20, 30, 40], 'B': [50, 60, 70, 80], 'C': [90, 100, 110, 120]})

reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [15]:
import pandas as pd

def calculate_sum(df):
    sum_values = 0
    count = 0
    for index, row in df.iterrows():
        sum_values += row['Values']
        count += 1
        if count == 3:
            break
    print("Sum of the first three values:", sum_values)

In [16]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50, 60, 70, 80]})

calculate_sum(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [17]:
import pandas as pd

def calculate_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

In [18]:
df = pd.DataFrame({'Text': ['This is a sample text', 'Another text with more words', 'Short text']})
df = calculate_word_count(df)
print(df)

                           Text  Word_Count
0         This is a sample text           5
1  Another text with more words           5
2                    Short text           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [29]:
import pandas as pd
df= pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df.size

6

In [27]:
import pandas as pd
df= pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})

In [28]:
df.shape

(3, 2)

Q6. Which function of pandas do we use to read an excel file?

In [32]:
import pandas as pd

df = pd.read_excel('dataset.xlsx')
df.head()

                                                text  label
0                                         oh my gosh    1.0
1  trouble sleeping, confused mind, restless hear...    1.0
2  All wrong, back off dear, forward doubt. Stay ...    1.0
3  I've shifted my focus to something else but I'...    1.0
4  I'm restless and restless, it's been a month n...    1.0

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [33]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

In [34]:
df = pd.DataFrame({'Email': ['john@example.com', 'alice@example.com', 'bob@example.com']})
df = extract_username(df)
print(df)

               Email Username
0   john@example.com     john
1  alice@example.com    alice
2    bob@example.com      bob

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [35]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

In [37]:
df = pd.DataFrame({'A': [10, 4, 7, 2, 8], 'B': [5, 12, 3, 8, 9], 'C': [1, 2, 3, 4, 5]})

selected_df = select_rows(df)
print(selected_df)

    A  B  C
0  10  5  1
2   7  3  3
4   8  9  5

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [41]:
import pandas as pd

def calculate_stats(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value

In [42]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

mean, median, std = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [43]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [44]:
# Sample DataFrame
df = pd.DataFrame({'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08'],
                   'Sales': [10, 15, 20, 25, 30, 35, 40, 45]})


df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values('Date')
df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     15           12.5
2 2022-01-03     20           15.0
3 2022-01-04     25           17.5
4 2022-01-05     30           20.0
5 2022-01-06     35           22.5
6 2022-01-07     40           25.0
7 2022-01-08     45           30.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [49]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

In [50]:
# Sample DataFrame
df = pd.DataFrame({'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05']})

df['Date'] = pd.to_datetime(df['Date'])
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2022-01-01   Saturday
1 2022-01-02     Sunday
2 2022-01-03     Monday
3 2022-01-04    Tuesday
4 2022-01-05  Wednesday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [51]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[df['Date'].between(start_date, end_date)]
    return selected_rows

In [52]:
df = pd.DataFrame({'Date': ['2022-12-30', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-05'],
                   'Value': [10, 20, 30, 40, 50]})


df['Date'] = pd.to_datetime(df['Date'])

selected_df = select_rows_between_dates(df)
print(selected_df)

        Date  Value
1 2023-01-01     20
2 2023-01-15     30
3 2023-01-31     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [55]:
import pandas as pd