In [11]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a
#lambda function.
#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [12]:
tuples = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])

print(sorted_tuples)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [13]:
#Q:2 Write a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.

In [14]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [3]:
#Q:3 Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
given_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = tuple(map(lambda x: str(x), given_list))
print(result)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [5]:
#Q:4 Write a python program using reduce function to compute the product of a list containing numbers
#from 1 to 25.

In [6]:
from functools import reduce

given_list = [i for i in range(1, 25)]
result = reduce(lambda x, y: x*y, given_list)
print(result)

620448401733239439360000

In [7]:
#0:5 Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.
#[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [8]:
def divisible_by_2_and_3(num):
    if num % 2 == 0 and num % 3 == 0:
        return True
    else:
        return False

numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_numbers = list(filter(divisible_by_2_and_3, numbers))

print("Numbers in the list that are divisible by 2 and 3: ", filtered_numbers)

Numbers in the list that are divisible by 2 and 3:  [6, 60, 90, 120]

In [15]:
#Q:6 Write a python program to find palindromes in the given list of strings using lambda and filter
#function.
#['python', 'php', 'aba', 'radar', 'level']

In [17]:
strings = ['python', 'php', 'aba', 'radar', 'level']
is_palindrome =  lambda x: x == x[::-1]
filtered_strings = list(filter(is_palindrome, strings))

print("Palindromes in the given list of strings: ", filtered_strings)

Palindromes in the given list of strings:  ['php', 'aba', 'radar', 'level']